<template>
  <div class="Background">
    <canvas ref="canvas"></canvas>
  </div>
</template>

<script>
export default {
  data () {
    return {
      vcanvas: null,
      rectsParams: [
        {
          x: 10,
          y: 10,
          rotate: 0.3 * Math.PI,
          color: 'rgb(255, 0, 0)'
        },
        {
          x: 440,
          y: 130,
          rotate: 0.3 * Math.PI,
          color: 'rgb(255, 0, 0)'
        },
        {
          x: 840,
          y: 330,
          rotate: -0.3 * Math.PI,
          color: 'rgb(255, 0, 0)'
        },
        {
          x: 740,
          y: 230,
          rotate: 0.3 * Math.PI,
          color: 'rgb(255, 0, 0)'
        },
        {
          x: 40,
          y: 430,
          rotate: 0.3 * Math.PI,
          color: 'rgb(255, 0, 0)'
        },
      ],
      rects: [],
      time: 0
    }
  },
  mounted () {
    this.init()
  },
  beforDestroy () {
    // kill timeline
    // kill raf
  },
  methods: {
    init() {
      const canvas = this.$refs.canvas
      canvas.height = window.innerHeight
      canvas.width = window.innerWidth
      const ctx = canvas.getContext('2d')  
      this.vueCanvas = ctx

      for (let i = 0; i < this.rectsParams.length; i++) {        
        this.rects.push(this.createRectangle(this.rectsParams[i]))
      }

      this.draw()
    },
    createRectangle (params) {
      const ctx = this.vueCanvas
      const p = {
        ...params,
        ww: 50,
        wh: 10
      }
      return {
        ...p,
        draw: function () {
          ctx.save()
          ctx.translate(this.x + this.ww / 2, this.y + this.wh / 2)
          ctx.rotate(this.rotate)
          ctx.translate(-this.x - this.ww / 2, -this.y - this.wh / 2)
          ctx.fillStyle = this.color
          ctx.fillRect(this.x, this.y, this.ww, this.wh)
          ctx.restore()
        }
      }
    },
    draw () {
      this.time++
      if (this.time % 10 === 0) {
        this.vueCanvas.clearRect(0, 0, window.innerWidth, window.innerHeight);
        for (let i = 0; i < this.rects.length; i++) {
          this.rects[i].rotate *= Math.PI * 0.5
          this.rects[i].draw()
        }
      }
      requestAnimationFrame(this.draw)
    }
  }
}
</script>

<style lang="stylus" scoped>
.Background
  position absolute
  width 100%
  height 100%
  background-color #123552
</style>