<template>
<section>
  <div class="WavyText WavyText--bottom" v-split>
    {{text}}
  </div>
  <div class="WavyText WavyText--top" v-split>
    {{text}}
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="squiggly-0">
        <feTurbulence id="turbulence" baseFrequency="0.04" numOctaves="2" result="noise" seed="0"/>
        <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="3" />
      </filter>
      <filter id="squiggly-1">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
        <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="3" />
      </filter>
    </defs> 
  </svg>
</section>
  
</template>

<script>
  export default {
    props: {
      text: {
        type: String,
        default: 'playplay'
      }
    },
    data () {
      return {
        tl: null
      }
    },
    mounted () {
      // gsap.to('feDisplacementMap', { attr: { scale: 6 }, ease: 'steps (4)', yoyo:true, repeat:-1, repeatDelay:1 });
      this.tl = gsap.timeline({repeat: -1})
      const shuffledElmsTop = this.shuffleSaved(gsap.utils.toArray('.WavyText--top .split-char'))
      const shuffledElmsBottom = this.shuffleSaved(gsap.utils.toArray('.WavyText--bottom .split-char'), shuffledElmsTop.order)
  
      this.tl.fromTo(shuffledElmsTop.arr, {alpha: 0}, {stagger: 0.1, duration: 0.1, alpha: 1}, 0)
      this.tl.fromTo(shuffledElmsBottom.arr, {alpha: 0}, {stagger: 0.1, duration: 0.1, alpha: 1}, 0)
      this.tl.to('.WavyText--top .split-char', { stagger: {
        each: 0.1,
      }, duration: 0.4, scale: 1.01, y: 2, x: 1 }, 1.6)
      this.tl.to('.WavyText--bottom .split-char', { stagger: {
        each: 0.1,
      }, duration: 0.4, scale: 1.01, y: 2, x: 1 }, 1.7)
      this.tl.to('.WavyText--top .split-char', { stagger: {
        each: 0.1,
      }, duration: 0.4, scale: 1, y: 0, x: 0 }, 1.8)
      this.tl.to('.WavyText--bottom .split-char', { stagger: {
        each: 0.1,
      }, duration: 0.4, scale: 1, y: 0, x: 0 }, 1.8)
    },
    beforeDestroy () {
      if (this.tl) this.tl.kill()
    },
    methods: {
      shuffleSaved (array, order = []) {
        let newOrder = []
        for(let i = array.length - 1; i > 0; i--) {
          const j = order.length > 0 && order[i] ? order[i] : Math.floor(Math.random() * i)
          newOrder.push(j)
          const temp = array[i]
          array[i] = array[j]
          array[j] = temp
        }
        return { arr: array, order: newOrder}
      }
    }
  }
</script>

<style lang="stylus">
.WavyText
  color white
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  font-size 8vw
  font-weight bold
  z-index 10
  text-align center

  span
    display inline-block
  //   opacity 0
  &--bottom
    filter url('#squiggly-0')
    color #0ff9db
  &--top
    filter url('#squiggly-1')
    color white
    top calc(50% + 2px)

</style>