<template>
  <div id="app">
    <Background />
    <WavyText text="Coucou playplay"/>
  </div>
</template>

<script>
import WavyText from './components/WavyText.vue'
import Background from './components/Background.vue'

export default {
  name: 'App',
  components: {
    WavyText,
    Background
  }
}
</script>

<style>
</style>
